/** Source Serif Pro */

@font-face{
    font-display: swap;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('https://assets.elv.sh/source-serif-pro-2.007/EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF2/OTF/SourceSerifPro-Regular.otf.woff2') format('woff2'),
         url('https://assets.elv.sh/source-serif-pro-2.007/OTF/SourceSerifPro-Regular.otf') format('opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/TTF/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face{
    font-display: swap;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('https://assets.elv.sh/source-serif-pro-2.007/EOT/SourceSerifPro-It.eot') format('embedded-opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF/OTF/SourceSerifPro-It.otf.woff') format('woff'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF2/OTF/SourceSerifPro-It.otf.woff2') format('woff2'),
         url('https://assets.elv.sh/source-serif-pro-2.007/OTF/SourceSerifPro-It.otf') format('opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/TTF/SourceSerifPro-It.ttf') format('truetype');
}

@font-face{
    font-display: swap;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('https://assets.elv.sh/source-serif-pro-2.007/EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF2/OTF/SourceSerifPro-Semibold.otf.woff2') format('woff2'),
         url('https://assets.elv.sh/source-serif-pro-2.007/OTF/SourceSerifPro-Semibold.otf') format('opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/TTF/SourceSerifPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-display: swap;
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('https://assets.elv.sh/source-serif-pro-2.007/EOT/SourceSerifPro-SemiboldIt.eot') format('embedded-opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF/OTF/SourceSerifPro-SemiboldIt.otf.woff') format('woff'),
         url('https://assets.elv.sh/source-serif-pro-2.007/WOFF2/OTF/SourceSerifPro-SemiboldIt.otf.woff2') format('woff2'),
         url('https://assets.elv.sh/source-serif-pro-2.007/OTF/SourceSerifPro-SemiboldIt.otf') format('opentype'),
         url('https://assets.elv.sh/source-serif-pro-2.007/TTF/SourceSerifPro-SemiboldIt.ttf') format('truetype');
}


/** Fira mono */

@font-face{
    font-display: swap;
    font-family: 'Fira Mono';
    src: url('https://assets.elv.sh/fira-4.202/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('https://assets.elv.sh/fira-4.202/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('https://assets.elv.sh/fira-4.202/woff/FiraMono-Regular.woff') format('woff'),
         url('https://assets.elv.sh/fira-4.202/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-display: swap;
    font-family: 'Fira Mono';
    src: url('https://assets.elv.sh/fira-4.202/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('https://assets.elv.sh/fira-4.202/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         url('https://assets.elv.sh/fira-4.202/woff/FiraMono-Bold.woff') format('woff'),
         url('https://assets.elv.sh/fira-4.202/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
