#demo-window {
  background-color: #f0ede2;
  margin-bottom: 16px;
  border-radius: 5px;
  /* Graceful degrading: the demo window starts with a scrollbar, which gets
   * hiden only when the JavaScript code finishes adding demo switchers. */
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden !important;
}

.animated-transition {
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#demo-container {
  transform: translateX(0);
  width: 500%;
}

.demo-wrapper {
  width: 20%;
  float: left;
}

/* Expanded view. */

#demo-container.expanded {
  width: 100%;
}
#demo-container.expanded .demo-wrapper {
  width: 100%;
}

.demo:after {
  content: "";
  display: table;
  clear: both;
}

.demo {
  padding: 16px;
}

.demo-col {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  float: left;
}

.demo-ttyshot {
  text-align: center;
}

.demo-ttyshot .ttyshot {
  text-align: left;
}

.demo-description {
  padding: 16px 16px 0;
}

.demo-ttyshot {
  padding-top: 16px;
}

@media screen and (min-width: 1024px) {
  .demo-ttyshot {
    width: 60%;
  }
  .demo-description {
    width: 40%;
  }
  .animated-transition {
    transition-duration: 400ms;
  }
}

.demo-description h2 {
  margin-top: 0;
}

.demo-col p {
  margin-top: 16px;
  margin-bottom: 0;
}

ul#demo-switcher {
  display: inline;
  margin: 0;
}

ul#demo-switcher > li {
  list-style: none;
  display: inline-block;
}

ul#demo-switcher > li > a {
  color: black;
  padding: 4px 14px;
}

ul#demo-switcher > li > a.current, ul#demo-switcher > li > a.current:hover {
  color: white;
  background-color: black;
}

ul#demo-switcher > li > a:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* Styles for the body layout */

@media screen and (min-width: 800px) {
  #columns {
    display: flex;
  }
  .column {
    flex: 1;
  }
  .column:first-child {
    margin-right: 24px;
  }
}

/* Overriding default styles */

.article h1 {
  border-bottom: none;
  padding-bottom: 0;
}

.article li > p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/**
 * Dark theme.
 */
.dark #demo-window {
    background-color: #101818;
}

.dark ul#demo-switcher > li > a {
    color: #eee;
}

.dark ul#demo-switcher > li > a.current, .dark ul#demo-switcher > li > a.current:hover {
  color: black;
  background-color: #eee;
}

.dark ul#demo-switcher > li > a:hover {
  background-color: #444;
}
