/* elvish.io-specific stylings. */

a {
  color: #0645ad;
}

a:visited {
  color: #0b0080;
}

/* Used to several places. */
.no-display {
  display: none !important;
}

#blog-title {
  cursor: default;
}

#blog-title a {
  color: white;
  text-decoration: none;
  cursor: default;
}

#blog-title a.command {
  color: #5b5;
}

.toc {
  background-color: #f0f0f0;
  padding: 1em;
  margin: 0 16px 16px 0;
  border-radius: 6px;
}

/* The first <h1> clears the TOC */
.article-content h1 {
  clear: both;
}

#toc-list {
  margin-left: -0.6em;
}

@media (min-width: 600px) and (max-width: 899px) {
  #toc-list {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  #toc-list {
    column-count: 3;
  }
}


#toc-list li {
  list-style: none;
  /* Keep first-level ToC within one column */
  break-inside: avoid;
}

pre.ttyshot {
  font-size: 12pt;
  line-height: 1 !important;
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 0 !important;
}

pre.ttyshot, pre.ttyshot code {
  background-color: white;
}

@media screen and (max-width: 600px) {
  pre.ttyshot {
    font-size: 2.6vw;
  }
}

/* Keys */
.key {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 2px;
  margin: 1px;
  font-size: 85%;
}

/* Code highlights. */
.sgr-1 {
  font-weight: bold;
}
.sgr-7 {
  color: white;
  background-color: black;
}
.sgr-31 {
  color: darkred; /* red in tty */
}
.sgr-41 {
  background-color: darkred; /* red in tty */
}
.sgr-32 {
  color: green; /* green in tty */
}
.sgr-42, .sgr-7.sgr-32 {
  background-color: green; /* green in tty */
}
.sgr-33 {
  color: goldenrod; /* yellow in tty */
}
.sgr-43, .sgr-7.sgr-33 {
  background-color: goldenrod; /* yellow in tty */
}
.sgr-34 {
  color: blue;
}
.sgr-44, .sgr-7.sgr-34 {
  color: white; /* Hacky hacky, just to make the nav ttyshot work */
  background-color: blue;
}
.sgr-35 {
  color: darkorchid; /* magenta in tty */
}
.sgr-45, .sgr-7.sgr-35 {
  background-color: darkorchid; /* magenta in tty */
}
.sgr-36 {
  color: darkcyan; /* cyan in tty */
}
.sgr-46, .sgr-7.sgr-36 {
  background-color: darkcyan; /* cyan in tty */
}
.sgr-37 {
  color: lightgray;
}
.sgr-47, .sgr-7.sgr-37 {
  background-color: gray;
}
