/**
 * Global styling.
 **/

* {
  box-sizing: border-box;
}

:root {
  --code-font: "Fira Mono", Menlo, "Roboto Mono", Consolas, monospace;
  --sans-font: Helvetica, Arial, sans-serif;
  --link-color-on-white: #0645ad;
  --link-color-on-black: #accbff;
  /* Colors from 2014 Material Design color palettes
     (https://m2.material.io/design/color/the-color-system) */
  --blue-800: #1565C0;
}

html {
  /* Prevent font scaling in landscape while allowing user zoom */
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Source Serif", Georgia, serif;
  font-size: 17px;
  line-height: 1.4;
}

body.has-js .no-js, body.no-js .has-js {
  display: none !important;
}

.dark {
  color: #eee;
  background: black;
}

/**
 * Top-level layout.
 *
 * There are two main elements: #navbar and #main. Both have a maximum
 * width, and is centered when the viewport is wider than that.
 **/

/* #navbar is wrapped by #navbar-container, a black stripe that always span
   the entire viewport. */
#navbar-container {
  width: 100%;
  color: white;
  background-color: #1a1a1a;
  padding: 7px 0;
}

#navbar, #main {
  /* Keep the content at 800px. */
  max-width: 832px;
  margin: auto;
  padding: 0 16px;
}

/* 832px = max-width + left and right padding of #main.

   After this screen width, #main will no longer get wider, but we allow
   .extra-wide elements to continue to get wider up to 900px, using negative
   left and right margins.
*/
@media screen and (min-width: 832px) {
  .extra-wide  {
    /* 32px is left and right padding of #main. */
    width: calc(min(100vw - 32px, 900px));
    /* upper bound is calculated by substituting 100vw = 900px + 32px */
    margin-inline: calc(max((832px - 100vw) / 2, -50px));
  }
}

/**
 * Elements in the navbar.
 *
 * The navbar is made up of two elements, #site-title and ul#nav-list. The
 * latter contains <li>s, each of which contains an <a>.
 */

#site-title, #nav-list {
  display: inline-block;
  /* Add spacing between lines when the navbar cannot fit in one line. */
  line-height: 1.4;
}

#site-title {
  /* Move the title downward 1px so that it looks more aligned with the
   * category list. */
  position: relative;
  top: 1px;
  font-size: 1.2em;
  font-family: var(--code-font);
}

#site-title {
  color: #5b5;
}

#nav-list {
  /* Override the margins for <ul> set below for content. */
  margin: 0 0 0 0.8em;
}

#nav-list li {
  list-style: none;
  display: inline-block;
  /* Override the margins for <li> set below for content. */
  margin: 0 0 0 0.2em;
}

#nav-list li a {
  color: white;
  border-radius: 3px;
  padding: 1px 0.4em;
  font-family: var(--code-font);
}

#nav-list li a:hover {
  background-color: #444;
}

#nav-list li a.current {
  color: black;
  background-color: white;
}

/**
 * Article header.
 **/

.timestamp {
  margin-bottom: 0.6em;
}

.article-title {
  padding: 16px 0;
  border-bottom: darkred solid 2px;
}

/* Unfortunately we use <h1> for both the article title and the first-level
   section title, and the default h1 rule is for the latter. Override it. */
.article-title h1 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  border: none;
}

/**
 * Table of content.
 */

#toc-wrapper {
  background-color: #f0f0f0;
  margin: 0 0 16px 0;
  border-radius: 6px;
  line-height: 1;
}

.dark #toc-wrapper {
  background-color: #181818;
}

#toc-header {
  padding: 1em 1em 0.6em 1em;
  border-bottom: solid white 2px;
  cursor: pointer;
}

#toc-status {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 2px;
  border: 6px solid transparent;
  position: relative;
}

/* Draw triangles in #toc-status using CSS. */

#toc-status:not(.closed) {
  border-top: 6px solid black;
  top: 3px;
}

#toc-status.closed {
  border-left: 6px solid black;
  left: 3px;
}

#toc {
  margin-left: -0.6em;
  padding: 1em;
}

@media screen and (min-width: 600px) {
  #toc {
    column-count: 2;
  }
}

#toc ul {
  /* The value set for <ul> in content is a bit too big for ToC */
  margin-left: 1em;
}

#toc li {
  list-style: none;
  /* Keep first-level ToC within one column */
  break-inside: avoid;
}

/* When the ToC has two columns, the first item of the second column will not
   the intended top margin (this is how columns work in CSS). Work around this
   by adding some extra top padding in #toc, and removing the top margin of the
   very first <li> element to match. */
#toc > ul:first-child > li:first-child {
  margin-top: 0;
}

/**
 * Article content.
 *
 * Note: in the layout the table of content is part of div.article-content
 * (because it's generated as part of the Markdown).
 **/

.article-content {
  padding-top: 32px;
}

/* We only use h1 to h3, so don't bother styling h4+. */
h1, h2, h3 {
  line-height: 1.25;
  margin-top: 32px;
  margin-bottom: 12px;
  font-weight: bold;
}

h1 {
  font-size: 1.3em;
  /* Create a vertical bar 0.3em wide and 0.3em away to the left, and move the
     text back to the original position. */
  border-left: darkred solid 0.3em;
  padding-left: 0.3em;
  margin-left: -0.6em;
}

h2 {
  font-size: 1.2em;
}

p, ul, ol, pre {
  /* Hardcode a pixel value since <pre> has a smaller font size. */
  margin-bottom: 12px;
}

ul, ol {
  margin-left: 1.5em;
}

li {
  margin: 0.5em 0;
}

kbd {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 3px;
  margin: 1px;
  font-size: 85%;
  font-family: "Lucida Grande", Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
}

td, th {
  border: 1px solid #aaa;
  text-align: left;
  padding: 0.4em;
}

.dark td, .dark th {
  border-color: #444;
}

td.notice {
  text-align: center;
  background-color: #ddd;
}

.dark td.notice {
  background-color: #333;
}

/** Links. */

a {
  text-decoration: none;
  color: #0645ad;
}

#main a:not(.button):hover {
  text-decoration: underline;
}

.dark a {
  color: var(--link-color-on-black);
}

a.anchor::before {
  font-family: "fa-elv-sh";
  content: '\e800'; /* icon-link */
  font-size: 0.9em;
  font-weight: normal;
  padding-left: 0.3em;
}

a.anchor {
  opacity: 0; /* Hide by default */
  color: inherit;
}

*:hover > a.anchor {
  opacity: 1;
}

a[target="_blank"]::after {
  font-family: "fa-elv-sh";
  content: "\f08e"; /* icon-link-ext */
  /* Set the icon some distance away. */
  padding-left: 0.3em;
  /* Make the icon slightly smaller and align it to the bottom.

     For normal links we should be able to use "vertical-align: bottom", but
     that doesn't work when the <a> is a flexbox (action buttons on the
     homepage). */
  font-size: 0.8em;
  padding-top: 0.2em;
}

/**
 * Code - inline code, block code and ttyshots.
 */

pre, code {
  font-family: var(--code-font);
  font-size: 0.85rem;
  border-radius: 3px;
}

p code {
  padding: 0.1em 0.5em;
  background-color: #f0f0f0;
}

pre {
  padding: 6px 10px;
  border: 1px solid #bbbbbb;
  background-color: white;
}

.dark code, .dark pre {
  background-color: #181818;
}

/* Scroll just the <code>, not the <header>. */
pre code {
  display: block;
  overflow-x: auto;
}

pre.language-ttyshot, pre.language-ttyshot code {
  /* Ttyshots often have right-justified elements (right prompt, vertical
     scrollbar), so make it as wide as its content. */
  width: fit-content;
  max-width: 100%;
}

pre.language-ttyshot code {
  /* Set the line height to be exactly equal to the height of the line box, so
     that vertical bars in ttyshots don't have gaps.

     According to MDN, the best practice is to use a dimensionless value
     relative to the "font size", but unfortunately different browsers disagree
     on exact which font dimension to use as the "font size". Since we fix the
     font anyway, we can hardcode a pixel value.

     16px is the maximal value that works for Chrome - 17px is fine for Safari
     and Firefox but leads to gaps in Chrome. 18px leads to gaps on all three.
  */
  line-height: 16px;
  /* Unfortunately hardcoding line-height is still not sufficient, because
     browsers also disagree on the height the font actually needs.

     If the browser decides that the font needs more than 16px (which is the
     case on Firefox 123), fixing line-height to 16px causes the content to
     overflow vertically, causing a vertical scrollbar to be shown, which in
     turn causes a horizontal scrollbar to be shown (because the vertical
     scrollbar takes up some horizontal space, so the content now also overflows
     horizontally). This works around that. */
  overflow-y: hidden;
}

pre header {
  font-family: var(--sans-font);
  /* Cancel the top, left and right paddings of the <pre> and create a bit of
     space between the header and the code. */
  margin: -6px -10px 3px;
  /* Replicate side paddings of the <pre>, and add appropriate top and bottom
     paddings. */
  padding: 4px 10px 3px;
  background-color: #ddd;
  color: black;
}

/* Set the fallback icon for the header and some common properties. */
pre header::before {
  content: "\f0f6"; /* icon-doc-text */
  font-family: "fa-elv-sh";
  padding-right: 6px;
  speak: never;
}

pre header a {
  color: var(--link-color-on-white);
}

.dark pre header a {
  /* Overwrite color of ".dark a". */
  color: var(--link-color-on-white);
}

/* md2html generates a <p> inside the <header>. */
pre header p {
  display: inline;
}

pre.language-elvish header {
  background-color: #ddeedd;
  color: black;
}

pre.language-elvish header::before {
  content: "\f1c9"; /* icon-file-code */
}

pre[class^="language-"][class$="-transcript"] header, pre.language-ttyshot header {
  background-color: #1a1a1a;
  color: white;
}

pre[class^="language-"][class$="-transcript"] header a, pre.language-ttyshot header a {
  color: var(--link-color-on-black);
}

pre[class^="language-"][class$="-transcript"] header::before, pre.language-ttyshot header::before {
  content: "\f120"; /* icon-terminal */
}

/**
 * Category content.
 **/

#main.category {
  padding-top: 32px;
}

.article-list {
  margin-left: 0;
  list-style: none;
}

.article-list li {
  /* A large left padding for the bullet list .*/
  padding: 6px 8px 6px 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.article-list li:nth-child(odd) {
  background: #e8e8e8;
}

.dark .article-list li:nth-child(odd) {
  background: #222;
}

.article-list li header::before {
  /* Using a flexbox for the <li> loses the bullet. Recreate it and position it
     within the left-padding . */
  content: "●";
  position: absolute;
  margin-left: -18px;
  speak: never;
}

.article-list li time {
  margin-left: auto;
  padding-left: 16px;
}

/**
 * Layout utilities.
 **/

.clear {
  clear: both;
}

.no-display {
  display: none !important;
}

/* SGR classes used in highlighted code blocks and ttyshots. */
.sgr-1 {
  /*
   * Bold text is wider than regular text in most fonts, and can break
   * vertical alignment in ttyshots. Emulate bold font with text-shadow.
   */
  text-shadow: 0.05em 0 0;
}
.sgr-4 {
  text-decoration: underline;
}
/*
 * SGR 7 (inverse) has some special handling by the ttyshot program; see
 * comments there.
 */
.sgr-7fg { color: white; }
.sgr-7bg { background-color: black; }

.dark .sgr-7fg { color: black; }
.dark .sgr-7bg { background-color: #eee; }

/* black */
.sgr-30 { color: black; }
.sgr-40 { background-color: black; }
/* red */
.sgr-31 { color: maroon; }
.sgr-41 { background-color: maroon; }
/* green */
.sgr-32 { color: green; }
.sgr-42 { background-color: green; }
/* yellow */
.sgr-33 { color: goldenrod; }
.sgr-43 { background-color: goldrenrod; }
/* blue */
.sgr-34 { color: navy; }
.sgr-44 { background-color: navy; }
/* magenta */
.sgr-35 { color: darkorchid; }
.sgr-45 { background-color: darkorchid; }
/* cyan */
.sgr-36 { color: darkcyan; }
.sgr-46 { background-color: darkcyan; }
/* white */
.sgr-37 { color: lightgrey; }
.sgr-47 { background-color: lightgrey; }

/* bright black */
.sgr-90 { color: grey; }
.sgr-100 { background-color: grey; }
/* bright red */
.sgr-91 { color: red; }
.sgr-101 { background-color: red; }
/* bright green */
.sgr-92 { color: lime; }
.sgr-102 { background-color: lime; }
/* light yellow */
.sgr-93 { color: yellow; }
.sgr-103 { background-color: yellow; }
/* light blue */
.sgr-94 { color: blue; }
.sgr-104 { background-color: blue; }
/* bright magenta */
.sgr-95 { color: fuchsia; }
.sgr-105 { background-color: fuchsia; }
/* bright cyan */
.sgr-96 { color: aqua; }
.sgr-106 { background-color: aqua; }
/* bright white */
.sgr-97 { color: white; }
.sgr-107 { background-color: white; }

